/*  
Sticky Footer Solution
by Steve Hatcher 
http://stever.ca
http://www.cssstickyfooter.com
*/
html {height: 100%; min-height: 100%;}

body > #wrap {height: auto; min-height: 100%;}

#main {padding-bottom: 40px;}  /* must be same height as the footer */

#footer,
footer {position: relative;
	/* negative value of footer height */
	height:40px;
	/*margin-top: -40px;*/
    text-align: center;
	clear:both;} 

/* CLEAR FIX*/
.clearfix:after {content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;}
.clearfix {display: inline-block;}
/* Hides from IE-mac \*/
* html .clearfix { height: 1%;}
.clearfix {display: block;}
/* End hide from IE-mac */