<div class="container container-xlg center-content">
    <h1>Tipo de entidad</h1>
    <ul class="filter-nav" layout="row" layout-md="column" layout-sm="column">
        <a href="#">Poderes</a>
        <a href="#">Organismos autnomos</a>
        <a href="#">Paraestatales</a>
        <a href="#">Sistemas de agua</a>
        <a href="#">Paramunicipales</a>
        <a href="#">Municipios</a>
        <a href="#">Entidades federativas</a>
    </ul>
</div>

<div class="container center-content title-block">
    <h1>Nombre del municipio</h1>
    <h2>Región norte</h2>
</div>

<div class="container container-xlg center-content">
    <div class="bubble-chart-wrap" layout="row" layout-md="column" layout-sm="column" layout-align="center center">
        <div flex flex-md="100" flex-sm="100" bubble-chart></div>
    </div>
</div>

<div class="container-alt">
    <div class="columns-container" layout="row" layout-md="column" layout-sm="column">
        <div class="column-item column-item-alt" flex="50" flex-md="100" flex-sm="100">
            <div class="container container-sm center-content">
                <h2>Ingreso per cápita del municipio</h2>
                <p><strong>Contra el promedio general de los 38 municipios</strong></p>
                <div layout="row" class="radial-row" layout-md="column" layout-sm="column">
                    <div flex class="radial-item">
                        <p>This is photoshop version of lotem ipsum</p>
                        <p><strong class="big-text">7,458</strong></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="column-item column-item-alt" flex="50" flex-md="100" flex-sm="100">
            <div class="container container-sm center-content">
                <h2>Egresos per cápita del municipio</h2>
                <p><strong>Contra el promedio general de los 38 municipios</strong></p>
                <div layout="row" class="radial-row" layout-md="column" layout-sm="column">
                    <div flex class="radial-item">
                        <p>This is photoshop version of lotem ipsum</p>
                        <p><strong class="big-text">7,458</strong></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div layout="row" layout-sm="column">
    <div class="feed-list" flex="65" flex-sm="100">
        <div class="container-lg container">
            <div class="feed-list-item">
                <h4>Lorem ipsum dolor sit amet, consectetur adipisicing elit?</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat error animi illum tempora harum, eligendi, sint laudantium consequatur, ipsam veritatis doloribus quibusdam. Hic recusandae aliquid repudiandae, accusantium libero dolores necessitatibus?</p>
            </div>
            <div class="feed-list-item">
                <h4>Lorem ipsum dolor sit amet, consectetur adipisicing elit?</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat error animi illum tempora harum, eligendi, sint laudantium consequatur, ipsam veritatis doloribus quibusdam. Hic recusandae aliquid repudiandae, accusantium libero dolores necessitatibus?</p>
            </div>
            <div class="feed-list-item">
                <h4>Lorem ipsum dolor sit amet, consectetur adipisicing elit?</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat error animi illum tempora harum, eligendi, sint laudantium consequatur, ipsam veritatis doloribus quibusdam. Hic recusandae aliquid repudiandae, accusantium libero dolores necessitatibus?</p>
            </div>
            <div class="feed-list-item">
                <h4>Lorem ipsum dolor sit amet, consectetur adipisicing elit?</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat error animi illum tempora harum, eligendi, sint laudantium consequatur, ipsam veritatis doloribus quibusdam. Hic recusandae aliquid repudiandae, accusantium libero dolores necessitatibus?</p>
            </div>
        </div>
    </div>
    <div class="stats" flex="35" flex-sm="100">
        <div class="stats-container stats-bars-container">
            <div class="container container-xsm">
                <p><strong>Promedio de población</strong></p>
                <p><strong>Promedio espacio territorial</strong></p>
                <p><strong>Promedio presupuesto per cápita</strong></p>
            </div>
        </div>
        <div class="stats-container stats-count-container container center-content">
            <div class="radial-item">
                <p>This is photoshop version of lotem ipsum</p>
                <p><strong class="big-text">7,458</strong></p>
            </div>
            <div class="radial-item">
                <p>This is photoshop version of lotem ipsum</p>
                <p><strong class="big-text">7,458</strong></p>
            </div>
            <div class="radial-item">
                <p>This is photoshop version of lotem ipsum</p>
                <p><strong class="big-text">7,458</strong></p>
            </div>
            <div class="radial-item">
                <p>This is photoshop version of lotem ipsum</p>
                <p><strong class="big-text">7,458</strong></p>
            </div>
        </div>
    </div>
</div>
