<div flex layout="column" ng-controller='HeaderCtrl'>
    <md-toolbar class='header'>
        <div class="md-toolbar-tools container nopadding" layout='row'>
            <div flex>
                <h1><a href="/"  btf-markdown="mainContent.tItulo">Índice de información <strong>presupuestal municipal</strong></a></h1>
            </div>
            <nav>
                <a href="/">Índice</a>
                <a href="">Documentos</a>
                <a href="/" >Municipios</a><!-- 
                <a href="#" class="bordered-btn">Contacto</a> -->
            </nav>
        </div>
    </md-toolbar>
</div>