<div class="banner">
    <div class="container container-lg center-content">
        <div btf-markdown="mainContent.subtitulo"></div>
        <div layout="row" layout-md="column" layout-sm="column">
            <div class="banner-column" flex ng-repeat='cifra in mainContent.cifrasPrincipales' btf-markdown="cifra"></div>
        </div>
    </div>
</div>

<div class="banner-graph">
    <ul rn-carousel rn-carousel-index="bannerGraphImgsIndex">
        <li ng-repeat="graph in bannerGraphImgs" class="radial-row-colors">
            <div class="layer radial-item">
                <img ng-src="{{graph.image}}">
            </div>
        </li>
    </ul>
    <a class="carousel-buttons carousel-next" ng-click="carouselNext()"></a>
    <a class="carousel-buttons carousel-back" ng-click="carouselNext()"></a>
</div>

<!--<div class="container container-xlg center-content">
    <h1>Tipo de entidad</h1>
    <ul class="filter-nav" layout="row" layout-md="column" layout-sm="column">
        <a href="#">Poderes</a>
        <a href="#">Organismos autnomos</a>
        <a href="#">Paraestatales</a>
        <a href="#">Sistemas de agua</a>
        <a href="#">Paramunicipales</a>
        <a href="#">Municipios</a>
        <a href="#">Entidades federativas</a>
    </ul>

    <div class="bubble-chart-wrap" layout="row" layout-md="column" layout-sm="column" layout-align="center center">
        <div flex="35" flex-md="100" flex-sm="100">
            <h4><strong>Municipios</strong></h4>
            <h4>This is a photoshop version of Lorem ipsum</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem similique sed vitae mollitia nulla illo facilis rerum, doloremque, perspiciatis laudantium commodi accusamus eligendi eveniet facere repellendus, velit nemo voluptatibus deleniti?</p>
        </div>
        <div  ng-if="!isLoaded" class="loading-wrapper" layout="column" layout-fill layout-align="center center">
            <md-progress-circular class="md-warn" md-mode="indeterminate"></md-progress-circular>
        </div>

        <div flex="65" flex-md="100" flex-sm="100" class="loaded-wrapper"  ng-if="isLoaded">
            <div  bubble-chart chart-data="bubbleChartData"></div bubble-chart>
        </div>
    </div>

</div> -->

<div class="container container-xxlg center-content">

    <div ng-if="!isLoaded" class="loading-wrapper loading-wrapper-small" layout="column" layout-fill layout-align="center center">
        <md-progress-circular class="md-warn" md-mode="indeterminate"></md-progress-circular>
    </div>

    <div ng-show="isLoaded" layout="row">
        <div  flex="65" id="data-map-home"></div>

        <div class="feed-list" flex="35" flex-sm="100">
            <div class="container-lg container">
                <h4>
                    <strong class="main-color">Municipio |</strong><strong class="alt-color">Porcentaje de transparencia</strong>
                </h4>
                <perfect-scrollbar class="feed-list-scroller" wheel-propagation="true" wheel-speed="10" include-padding="true">
                    <div class="feed-list-item" ng-repeat="mun in municipios track by $index">
                        <div class="feed-list-item-top" layout="row" ng-click="triggerTip(mun.datos_entidad.id, $index)">                        
                            <strong flex="15" class="feed-list-item-num">
                                <a ng-bind="$index+1"></a>
                            </strong>
                            <p class="feed-list-item-title" flex>
                                <a ng-bind="mun.datos_entidad.nombre_completo"></a>
                            </p>
                            <strong flex="25" class="feed-list-item-status alt-color">
                                <a>{{mun.porcentaje_cumplimiento['2014'].porcentaje_cumplimiento}}%</a>
                            </strong>
                        </div>
                        <div ng-show="showContentList[$index]">
                            <p class="feed-list-item-content feed-list-item-btn">
                                <a ng-href="/municipio/{{mun.datos_entidad.id}}">Ver perfil del municipio</a>
                            </p>
                        </div>
                    </div>
                </perfect-scrollbar>
                <a class="small-note">*Porcentaje de cumplimiento del 2014</a>
            </div>
        </div>
    </div>


</div>

<div class="container-alt">
    <div class="container container-xlg center-content">
        <h1>This is photoshop version of lorem ipsum</h1>
        <p><strong>This is photoshop version of lotem ipsum</strong></p>

        <div layout="row" class="radial-row radial-row-colors" layout-md="column" layout-sm="column">
            <div flex class="radial-item">
                <p>This is photoshop version of lotem ipsum</p>
                <p><strong class="big-text">7,458</strong></p>
                <a href="#" class="bordered-btn bordered-btn-block">Leer más</a>
            </div>
            <div flex class="radial-item">
                <p>This is photoshop version of lotem ipsum</p>
                <p><strong class="big-text">7,458</strong></p>
                <a href="#" class="bordered-btn bordered-btn-block">Leer más</a>
            </div>
            <div flex class="radial-item">
                <p>This is photoshop version of lotem ipsum</p>
                <p><strong class="big-text">7,458</strong></p>
                <a href="#" class="bordered-btn bordered-btn-block">Leer más</a>
            </div>
            <div flex class="radial-item">
                <p>This is photoshop version of lotem ipsum</p>
                <p><strong class="big-text">7,458</strong></p>
                <a href="#" class="bordered-btn bordered-btn-block">Leer más</a>
            </div>
        </div>

    </div>
</div>

<div class="container container-xlg center-content">
    <h1>This is photoshop version of lorem ipsum</h1>
    <p><strong>This is photoshop version of lotem ipsum</strong></p>
</div>

<div ng-if="randomMun.documentos" class="columns-container" layout="row" layout-md="column" layout-sm="column">
    <div class="column-item" flex="50" flex-md="100" flex-sm="100">
        <div class="container container-sm">
            <h3 ng-bind="randomMun.datos_entidad.nombre_completo"></h3>
            <p>Documentos relacionados</p>
            <ul class="custom-ordered-list">
                <li ng-repeat="doc in randomMun.documentos.reporte_imco | objectLimitTo:limitDocs">
                    <a ng-href="{{doc.url}}" ng-bind="doc.concepto" ></a>
                </li>
            </ull>
        </div>
    </div>
    <div class="column-item" flex="50" flex-md="100" flex-sm="100">
        <div class="container container-sm">
            <h3><strong class="big-text">$33,567,986</strong></h3>
            <h3 ng-bind="randomMun.datos_entidad.nombre_completo"></h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga perferendis voluptatibus praesentium beatae quam perspiciatis asperiores temporibus eveniet eos tempora rem quo ducimus soluta, laboriosam. Eos nesciunt voluptatem eaque. Minima.</p>
            <p><a ng-href="/municipio/{{randomMun.datos_entidad.id}}" class="bordered-btn bordered-btn-block">Ver municipio</a></p>
        </div>
    </div>
</div>
