<div class="banner">
    <div class="container container-lg center-content">
        <h1>This is Photoshop's version</h1>
        <div layout="row" layout-md="column" layout-sm="column">
            <div class="banner-column" flex>
                <p>This is a Photoshop version of Lorem Ipsum</p>
                <p><strong class="big-text">7,458</strong></p>
            </div>
            <div class="banner-column" flex>
                <p>This is a Photoshop version of Lorem Ipsum</p>
                <p><strong class="big-text">7,458</strong></p>
            </div>
            <div class="banner-column" flex>
                <p>This is a Photoshop version of Lorem Ipsum</p>
                <p><strong class="big-text">7,458</strong></p>
            </div>

        </div>
    </div>
</div>

<div class="container container-xlg center-content">
    <h1>Tipo de entidad</h1>
    <ul class="filter-nav" layout="row" layout-md="column" layout-sm="column">
        <a href="#">Poderes</a>
        <a href="#">Organismos autnomos</a>
        <a href="#">Paraestatales</a>
        <a href="#">Sistemas de agua</a>
        <a href="#">Paramunicipales</a>
        <a href="#">Municipios</a>
        <a href="#">Entidades federativas</a>
    </ul>

    <div class="bubble-chart-wrap" layout="row" layout-md="column" layout-sm="column" layout-align="center center">
        <div flex="35" flex-md="100" flex-sm="100">
            <h4><strong>Municipios</strong></h4>
            <h4>This is a photoshop version of Lorem ipsum</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem similique sed vitae mollitia nulla illo facilis rerum, doloremque, perspiciatis laudantium commodi accusamus eligendi eveniet facere repellendus, velit nemo voluptatibus deleniti?</p>
        </div>
        <div  ng-if="!isLoaded" class="loading-wrapper" layout="column" layout-fill layout-align="center center">
            <md-progress-circular class="md-warn" md-mode="indeterminate"></md-progress-circular>
        </div>

        <div flex="65" flex-md="100" flex-sm="100" class="loaded-wrapper"  ng-if="isLoaded">
            <div  bubble-chart chart-data="bubbleChartData"></div bubble-chart>
        </div>
    </div>

</div>

<div class="container container-xlg center-content">

    <div ng-show="!isLoaded" class="loading-wrapper loading-wrapper-small" layout="column" layout-fill layout-align="center center">
        <md-progress-circular class="md-warn" md-mode="indeterminate"></md-progress-circular>
    </div>

    <div ng-show="isLoaded" id="data-map-home"></div>

</div>

<div class="container-alt">
    <div class="container container-xlg center-content">
        <h1>This is photoshop version of lorem ipsum</h1>
        <p><strong>This is photoshop version of lotem ipsum</strong></p>

        <div layout="row" class="radial-row" layout-md="column" layout-sm="column">
            <div flex class="radial-item">
                <p>This is photoshop version of lotem ipsum</p>
                <p><strong class="big-text">7,458</strong></p>
            </div>
            <div flex class="radial-item">
                <p>This is photoshop version of lotem ipsum</p>
                <p><strong class="big-text">7,458</strong></p>
            </div>
            <div flex class="radial-item">
                <p>This is photoshop version of lotem ipsum</p>
                <p><strong class="big-text">7,458</strong></p>
            </div>
            <div flex class="radial-item">
                <p>This is photoshop version of lotem ipsum</p>
                <p><strong class="big-text">7,458</strong></p>
            </div>
        </div>

    </div>
</div>

<div class="container container-xlg center-content">
    <h1>This is photoshop version of lorem ipsum</h1>
    <p><strong>This is photoshop version of lotem ipsum</strong></p>
</div>

<div class="columns-container" layout="row" layout-md="column" layout-sm="column">
    <div class="column-item" flex="50" flex-md="100" flex-sm="100">
        <div class="container container-sm">
            <h3>This is photoshop version of lorem ipsum</h3>
            <ul class="custom-ordered-list">
                <li><strong>1</strong> This is a photoshop version of Lorem ipsum</li>
                <li><strong>2</strong> This is a photoshop version of Lorem ipsum</li>
                <li><strong>3</strong> This is a photoshop version of Lorem ipsum</li>
                <li><strong>4</strong> This is a photoshop version of Lorem ipsum</li>
                <li><strong>5</strong> This is a photoshop version of Lorem ipsum</li>
            </ull>
        </div>
    </div>
    <div class="column-item" flex="50" flex-md="100" flex-sm="100">
        <div class="container container-sm">
            <h3><strong class="big-text">$33,567,986</strong></h3>
            <h3>This is photoshop version of lorem ipsum</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga perferendis voluptatibus praesentium beatae quam perspiciatis asperiores temporibus eveniet eos tempora rem quo ducimus soluta, laboriosam. Eos nesciunt voluptatem eaque. Minima.</p>
            <p><a href="#" class="bordered-btn bordered-btn-block">Ver municipio</a></p>
        </div>
    </div>
</div>