<div ng-include="'/views/header.html'"></div>

<div  ng-show="!isLoaded" class="loading-wrapper loading-wrapper-abs" layout="column" layout-fill layout-align="center center">
    <md-progress-circular class="md-warn" md-mode="indeterminate"></md-progress-circular>
</div>

<div class="loaded-wrapper" ng-if="isLoaded">
    <div class="container center-content title-block">
        <p><img src="/images/book.png" alt=""></p>
        <h1 ng-bind="municipio.datos_entidad.nombre_completo"></h1>
        <h2>Región {{municipio.indicadores[1].valor}}</h2>
    </div>

    <div class="container-alt">
        <div class="columns-container" layout="row" layout-md="column" layout-sm="column">
            <div class="column-item column-item-alt" flex="20" flex-md="100" flex-sm="100">
                <div class="container container-sm center-content">
                    <h2>Ingreso per cápita del municipio</h2>
                    <p><strong>Contra el promedio general de los 38 municipios</strong></p>

                    <div layout="row" class="radial-row" layout-md="column" layout-sm="column">
                        <div flex class="radial-item">
                            <div id="egreso-per-capita" class="radial-chart radial-chart-alt"></div>
                            <p class="radial-chart-label-alt">This is photoshop version of lotem ipsum</p>
                            <p class="radial-chart-label-alt"><strong class="big-text">7,458</strong></p>
                        </div>
                    </div>

                </div>
            </div>
            <div class="column-item column-item-alt" flex="40" flex-md="100" flex-sm="100">
                <div class="container container-sm center-content">
                    <h2>Egresos per cápita del municipio</h2>
                    <p><strong>Dividido por concepto</strong></p>


                    <div class="radial-item">
                        <graph data="egresos" class="ring-chart" width="100%" height="300px">
                            <r field="valor"></r>
                            <graph-legend></graph-legend>
                            <ring field="Descripcion" thickness="20"></ring>
                        </graph>
                        <p class="radial-chart-label">Presupuesto de egresos 2014 (Adenda)</p>
                        <p class="radial-chart-label"><strong class="big-text">{{presupuestoEgresos.valor | currency:'$'}}</strong></p>
                    </div>

                </div>
            </div>
            <div class="column-item column-item-alt" flex="40" flex-md="100" flex-sm="100">
                <div class="container container-sm center-content">
                    <h2>Egresos vs Ingresos per cápita del municipio</h2>
                    <div class="radial-item">
                        <graph data="ingresos_egresos" class="ring-chart" width="100%" height="300px">
                            <r field="valor"></r>
                            <graph-legend></graph-legend>
                            <ring field="concepto" thickness="20"></ring>
                        </graph>
                        <p class="radial-chart-label">Presupuesto de egresos vs ingresos 2014 (Adenda)</p>
                        <p class="radial-chart-label"><strong class="big-text">{{porcentaje_ie.valor | currency:'$'}}</strong></p>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div class="container container-xlg">
        <div>
            <div layout="row" layout-sm="column">
                
                <div class="feed-list" flex="50" flex-sm="100">
                    <div class="container container-no-top">
                        <div class="container docs-list">
                            <h4>Documentos</h4>
                            <ul>
                                <perfect-scrollbar class="docs-list-scroller" wheel-propagation="true" wheel-speed="10">
                                    <li ng-repeat="folder in municipio.documentos track by $index" class="docs-list-item docs-list-item-parent">
                                        <a ng-click="toggleFolder = !toggleFolder" class="docs-list-item-parent">
                                            {{folders[$index]}}
                                            <span ng-class="{'caret-down' : toggleFolder}" class="caret"></span>
                                        </a>

                                        <ul ng-show="toggleFolder">
                                            <li ng-repeat="doc in folder" class="docs-list-item">
                                                <a target="_blank" ng-href="{{doc.url}}" ng-bind="doc.concepto"></a>
                                            </li>
                                        </ul>

                                    </li>
                              
                                </perfect-scrollbar>
                            </ul>
                        </div>
                    </div>
                    <div class="container">
                        <h4>Criterios de transparencia presupuestal</h4>
                        <perfect-scrollbar class="feed-list-scroller" wheel-propagation="true" wheel-speed="10">
                            <div class="feed-list-item" ng-repeat="criterio in municipio.criterios">
                                <div class="feed-list-item-top" layout="row"  ng-click="showContent = !showContent">
                                    <p class="feed-list-item-title" flex ng-bind="criterio.concepto"></p>
                                    <strong ng-if="criterio.porcentaje_cumplimiento == 0" class="feed-list-item-status">&#10006;</strong>
                                    <strong ng-if="criterio.porcentaje_cumplimiento == 1" class="feed-list-item-status">&#10004;</strong>
                                </div>
                                <div ng-show="showContent">
                                    <p class="feed-list-item-content" flex ng-bind="criterio.respuesta_criterio"></p>
                                </div>
                            </div>
                        </perfect-scrollbar>                        
                    </div>
                </div>

                <div class="stats container-side-margin-left" flex="50" flex-sm="100">
                    <div class="stats-count container stats-count-alt center-content">
                        <h4>Información presupuestal</h4>
                        <div class="radial-item">
                            <p>This is photoshop version of lotem ipsum</p>
                            <p><strong class="big-text">7,458</strong></p>
                        </div> 
                        <div class="radial-item">
                            <p>This is photoshop version of lotem ipsum</p>
                            <p><strong class="big-text">7,458</strong></p>
                        </div> 
                        <div class="radial-item">
                            <p>This is photoshop version of lotem ipsum</p>
                            <p><strong class="big-text">7,458</strong></p>
                        </div>                                                            
                    </div>

                    <div class="stats-count container center-content">
                        <h4>Ramo 23</h4>
                        <div class="radial-item">
                            <p>This is photoshop version of lotem ipsum</p>
                            <p><strong class="big-text">7,458</strong></p>
                        </div> 
                        <div class="radial-item">
                            <p>This is photoshop version of lotem ipsum</p>
                            <p><strong class="big-text">7,458</strong></p>
                        </div> 
                        <div class="radial-item">
                            <p>This is photoshop version of lotem ipsum</p>
                            <p><strong class="big-text">7,458</strong></p>
                        </div>                                                            
                    </div>

                </div>
            </div>
        </div>
    </div>

</div>
<div ng-include="'/views/footer.html'" ng-show="isLoaded"></div>    
